<?xml version="1.0" encoding="utf-8"?>
<!-- Before releasing: -->
<!-- 1. Set the "debuggable" property to false -->
<!-- 2. Update the version number -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nikreiman.quicksms"
  android:versionCode="1"
  android:versionName="1.0">
  <application android:label="QuickSms"
    android:icon="@drawable/icon"
    android:debuggable="false">
    <activity android:name="com.nikreiman.quicksms.activities.QuickSms"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
  <uses-permission android:name="android.permission.SEND_SMS"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>
